Pods/Pods.xcodeproj/xcuserdata/julio.xcuserdatad/xcschemes/xcschememanagement.plist
VenuesApp.xcodeproj/xcuserdata/julio.xcuserdatad/xcschemes/xcschememanagement.plist
VenuesApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VenuesApp.xcworkspace/xcuserdata/julio.xcuserdatad/UserInterfaceState.xcuserstate
